<div class="container">
    <div class="title"></div>
 <h1 class= "title"><%= image_tag "decorator.png", height: "50", width: "50" %>
    OUR HANDYMEN NEAR YOU <%= image_tag "car-service.png", height: "50", width: "50" %> </h1>
   <div class="columns">
    <ul class="price">
      <% @handymen.each do |handyman| %>
         <div class="handyman-info">
            <li class="grey"><%= handyman.user.first_name %> <%= handyman.user.last_name %></li>
            <li><%= image_tag "mechanic.png", height: "30", width: "30" %><%= handyman.job_title %></li>
            <li><%= image_tag "best-price.png", height: "30", width: "30" %><%= handyman.average_price %></li>
            <li class="grey"><%= link_to "SEE MORE", handyman_path(handyman),class:'btn btn-primary' %></li>
         </div>
      <% end %>
       <%#= form_tag handymen_path, method: :get do %>
          <%#= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a handyman "
          %>
          <%#= submit_tag "Search", class: "btn btn-primary" %>
          
        <%# end %>
    </ul>
  </div>
</div>
<div class="container">
  <div id="map"
       style="width: 600px; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="pk.eyJ1Ijoia2F2ZWVzaCIsImEiOiJja3Jlazd0c3kxc205MnZxdTd0N2twOXAwIn0.My3-kyt0F3aF2jkksJkxCw">
  </div>
</div>
