<div class="container">
  <div class="card-handymen">
   <div class="container quotation-form">
     <div class=" justify-content-center">
      <div class="col-lg-8">
        <h2 class="mission-title"> Become a Handyman!</h2>

              <div class="form-inputs label-none">
                <%= simple_form_for @handyman do |f| %>
                  <p class="handymantitle"> Your job title </p>
                  <%= f.input :job_title, placeholder: "Electrian" %>
                  <p class="address">Insert your address:</p>
                  <%= f.input :address, placeholder: "21 rue de Labourdonnais, Port Louis Mauritius" %>
                  <p class="address">Insert photos of your work:</p>
                  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                
                  <%= link_to "Back to homepage", root_path,class:'btn btn-light m-4' %>
                  <%= f.button :submit, "Submit your form", class:'btn btn-orange m-4' %>
                <% end %>
              </div>
      </div>
     </div>          
   </div>
    <div class="background-color-orange">
<iframe src="https://giphy.com/embed/1eEAmkVgNqqatFdatx" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/loosekeys-work-beam-workers-1eEAmkVgNqqatFdatx"></a></p>    </div>
  </div>
</div>
