<div class="container">
  

 <nav class="bg-primaryX text-lightX navbar navbar-expand-xl navbar-dark  navbar-togglable  fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
      <div class="header_logo">
        <% end %>  
          </div>
             <div class="container ">
              
                 <!-- Brand -->
                 <a class="navbar-brand" href="index.html">
                    Handyman
                 </a>
                 <div>
                   

                 <!-- Toggler -->
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>

                 <!-- Collapse -->
                 <div class="collapse navbar-collapse" id="navbarCollapse">

                     <!-- Links -->
                     <ul class="navbar-nav ml-auto">
                       <li class="nav-item active mx-4">
                         <a class="nav-link" href="#"><%= link_to "propose your services", destroy_user_session_path, method: :delete, class: "nav-link" %></a>
                         
                       </li>
                        </li>
                       <% if user_signed_in? %>
                       <li class="nav-item mx-4">
                         <a class="nav-link" href="#"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></a>
                       </li> 
                       <%else%>
                       <li class="nav-item mx-4">
                         <a class="nav-link" href="#"><%= link_to "Login", new_user_session_path, class: "nav-link" %></a>
                       </li>
                       
                       <li class="nav-item mx-4">
                         <a class="nav-link" href="#"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></a>
                        <%end%>                                                    
                     </ul>


                 </div> <!-- / .navbar-collapse -->

             </div> <!-- / .container -->
         </nav>

</div>