<div class="container-form">
  <div class="card-quotations">
    <div class="container quotation-form">
      <div class="justify-content-center">
        <div class=" col-lg-8">
          <div class="form-inputs label-none">
            <h2>Quotation</h2>
            <%= simple_form_for [@mission, @quotation] do |f| %>
            <p class="specific_price ">
              Pricing
            </p>
            <%= f.input :specific_price %>
              <p class="handyman_description">
                Please write your quotation:
              </p>
              <%= f.text_area :handyman_description, cols: 92, rows: 15 %>
              <%= f.hidden_field :status, value: "pending" %>
              <%= f.submit "Send quotation", class:'btn btn-orange m-4' %>      
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="background-color-orange">
     <iframe src="https://giphy.com/embed/TH5rwHaKTC4n8tcPVY" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/power-starz-season6-episode606-TH5rwHaKTC4n8tcPVY"></a></p>
    </div>
  </div>
</div>
