<div class="container">

<h2>create your quotations</h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <h2 class="quotation-title"><%= image_tag "description.png", height: "30", width: "30" %>Create your quotation</h2>

      <div class="form-inputs label-none">

        <%= simple_form_for [@mission, @quotation] do |f| %>
        <p class="specific_price">
          Please put your price
        </p>
        <%= f.input :specific_price %>
          <p class="handyman_description">
            Please describe your quotation:
          </p>
          <%= f.text_area :handyman_description, cols: 20, rows: 20 %>
          <%= link_to "Back to dashboard", dashboard_path,class:'btn btn-light' %>
          <%= f.submit "Send quotation", class:'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>