
<div class="container">
  <div class = "d-flex justify-content-between">
    <h1><%= @handyman.user.first_name %> DashBoard</h1>
    <%= image_tag "icons.png", height: "70", width: "60"%>
  </div>
    
    <div class = "row">
     <div class="col-sm-6">
      <div class="card border-warning mb-3" style="width: 15rem;height: 13rem;">
        <div class="card-body">
          <h5><strong>110</strong></h5>
          <p>Missions accomplished</p>
        </div>
      </div>
     </div>
     

     <div class="col-sm-6">
      <div class="card border-warning mb-3" style="width: 15rem;height: 13rem;">
        <div class="card-body">
          <h5><strong>4.5/5</strong></h5>
          <p>Ratings</p>
        </div>
      </div>
     </div>
    </div>
                <h2><strong>Upcoming Missions </strong></h2>
                <% @handyman.missions.each do |mission| %>
                <div class="card-mission-handyman ">
                  <div class="card-mission-handyman-infos">
                    <h2><strong><%= mission.description %></strong></h2>
                    <h3><%= mission.user.first_name %> <%= mission.user.last_name  %></h3>
                    <h4> <%= mission.user.address %></h4>
                  </div>
                    <div class="card-mission-handyman-button">
                       <%= link_to "Approve", "#", class:'btn btn-primary' %>
                       <%= link_to "Decline", "#", class:'btn btn-primary' %>
                    </div>

                  
                </div>
                <% end %>
</div>

