
<div class="container">
  <div class = "d-flex justify-content-between">
    <h2><%= @handyman.user.first_name %> DashBoard</h2>
    <%= image_tag "icons.png", height: "136", width: "123"%>
  </div>
    
    <div class = "row">
     <div class="mr-3">
      <div class="card border-warning mb-3" style="width: 15rem;height: 13rem;">
        <div class="card-body">
          <h5><strong><span class = "orange">110</span></strong></h5>
          <p>Missions accomplished</p>
        </div>
      </div>
     </div>
     

     <div class="">
      <div class="card border-warning mb-3" style="width: 15rem;height: 13rem;">
        <div class="card-body">
          <h5><span class = "orange">4.5/5</span></h5>
          <p>Ratings</p>
        </div>
      </div>
     </div>
    </div>
                <h2>Upcoming <span class = "orange"> Missions </span></h2>
                <% @handyman.missions.each do |mission| %>
                <div class="card-mission-handyman ">
                <% if mission.photos.attached? %>
                  <%= cl_image_tag mission.photos.first.key, height: 300, width: 400, crop: :fill %>
                <% end %> 
                  <div class="card-mission-handyman-infos">
                    <h2><strong><%= mission.description %></strong></h2>
                    <h3><%= mission.user.first_name %> <%= mission.user.last_name  %></h3>
                    <h4> <%= mission.user.address %></h4>
                  </div>
                    <div class="card-mission-handyman-button">
                       <%= link_to "Approuve", new_mission_quotation_path(mission), class:'btn btn-orange custom-btn' %>
                       <%= link_to "Decline", quotation_path(mission),class:'btn btn-grey custom-btn' %>
                    </div>

                  
                </div>
                <% end %>
</div>

