<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <h2 class="mission-title"><%= image_tag "description.png", height: "30", width: "30" %>Describe your mission</h2>

      <div class="form-inputs label-none">

        <%= simple_form_for(@missions) do |f| %>
        <p class="starting-date">

          Please put your starting date:

        </p>
          <%= f.input :start_date %>
          <p class="description">
            Please describe your mission so we can help you more:
          </p>
          <%= f.text_area :description, cols: 20, rows: 20 %>

          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Request to the quotation",dashboard_path, class:'btn btn-primary' %>
          <%= link_to "Back to handymen list", handymen_path,class:'btn btn-light' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--  dashboard GET    /dashboard(.:format)                                                                     pages#dashboard -->
